@using Sunday.ContentDelivery.Framework.Extensions
@model Sunday.Portfolio.Project.Models.HomePageModel
<div class="responsive-nav">
    <i class="fa fa-bars" id="menu-toggle"></i>
    <div id="menu" class="menu">
        <i class="fa fa-times" id="menu-close"></i>
        <div class="container">
            <div class="image">
                <a href="#">
                    <img src="@Model.ImageUrl" alt="@Model.Heading" />
                </a>
            </div>
            <div class="author-content">
                <h4>@Model.Heading</h4>
                <span>@Model.Subheading</span>
            </div>
            <nav class="main-nav" role="navigation">
                <ul class="main-menu">
                    @foreach (var link in Model.NavigationLinks)
                    {
                        <li><a href="@link.Url">@link.Text</a></li>
                    }
                </ul>
            </nav>
            <div class="social-network">
                <ul class="soial-icons">

                    @foreach (var link in Model.SocialLinks)
                    {
                        <li>
                            <a href="@link.Url" target="_blank">
                                <i class="@link.Icon"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="section about-me" data-section="aboutme">
    @{ await Html.RenderingAreaFor(Model.CurrentPage, "AboutMeSection"); }
</section>
<section class="section about-me" data-section="experience">
    @{ await Html.RenderingAreaFor(Model.CurrentPage, "ExperiencesSection"); }
</section>
<section class="section about-me" data-section="techstack">
    @{ await Html.RenderingAreaFor(Model.CurrentPage, "MySkillsSection"); }
</section>
<section class="section about-me" data-section="services">
    @{ await Html.RenderingAreaFor(Model.CurrentPage, "MyServicesSection"); }
</section>

